// .welcome {
//     width :200px;
//     height: 25%;
// }
.price {
    text-align: center;
}
ion-icon {
    width:30px;
    height: 30px;
}
.button {
    height:50px;
}
ion-text {
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-size-adjust: 30px;
}