<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons><ion-button (click)="goToHome()"><ion-icon slot="icon-only" name="backspace"></ion-icon></ion-button>
    <ion-title>CreateCategory</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <ion-card size="10"><ion-item><div>
    <ion-item>
      <ion-input type="file"></ion-input>
    </ion-item>
    <!-- <label for="files" class="btn">Select Image</label> -->
    <input id="files" style="visibility:hidden;" type="file"></div></ion-item>

<ion-item><ion-input  [(ngModel)]="category.name" placeholder="CategoryName"></ion-input></ion-item>


<ion-item><ion-input [(ngModel)]="category.description" placeholder="Description"></ion-input></ion-item>
</ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" >
  <ion-fab-button (click)=" createCategory()" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>