<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons><ion-button (click)="goToHome()"><ion-icon slot="icon-only" name="backspace"></ion-icon></ion-button>
    <ion-title>createProdouct</ion-title></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
    <ion-input type="file"></ion-input>
  </ion-item>
    <ion-item>
          <ion-input placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
          <ion-input placeholder="Price"></ion-input>
    </ion-item>
    <ion-item>
          <ion-input placeholder="quantity"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
     <ion-item>
         <ion-input  placeholder="discription"></ion-input>
     </ion-item>
  </ion-card>

</ion-content>

<ion-fab  vertical="bottom" horizontal="end">
  <ion-fab-button (click)="goToHome()"><ion-icon name="add-circle" ></ion-icon></ion-fab-button>
</ion-fab> 
