<ng-container *ngIf="userRole === 'user'">
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let c of categories">
    <ion-buttons (click)="getCategory(c)">
      <ion-card class="welcome">
    <ion-grid>
      <ion-row>
        <ion-col>
                <img class="category" src="{{c.image}}">
        </ion-col>
        <ion-col><h4>{{c.name}}</h4>
      </ion-col>
      </ion-row>
      <ion-col></ion-col>
    </ion-grid>
  </ion-card>
</ion-buttons>
</ion-item>
</ion-content>
</ng-container>

<ng-container *ngIf="userRole === 'admin'">
  
  
<ion-header>
  <ion-toolbar color="primary">
     <ion-title>Home</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-list *ngFor="let c of catergory">
<ion-card >
   <ion-grid>
     <ion-row>
      <ion-col (click)="arrowProcess(c.id)" size=2> <img src = "{{c.image}}"></ion-col>
      <ion-col (click)="arrowProcess(c.id)" size=8><ion-text center>{{c.name}}</ion-text></ion-col>
      <!-- <ion-col size=2><ion-button fill="none" (click)="goToUpdateProductPage()"><ion-icon color="dark" slot="icon-only" name ="create"></ion-icon></ion-button></ion-col>
      <ion-col size=2><ion-button (click)="presentAlertConfirm(c.id)" fill="none"><ion-icon color ="danger" slot="icon-only" name ="trash"></ion-icon></ion-button></ion-col> 
      <ion-col size=2><ion-button fill="none" (click)="arrowProcess(c.id)"><ion-icon color="dark" slot="icon-only" name="arrow-down-circle"></ion-icon></ion-button></ion-col>-->
      <ion-col (click)="goToCategoryDetailedView()" size=2><ion-button fill="none"><ion-icon name="ellipsis-vertical-sharp"></ion-icon></ion-button></ion-col>
    </ion-row>
   <app-product-list  *ngIf="currentid ==c.id" userRole='admin' categoryName={{c.name}}></app-product-list>
   </ion-grid>
   </ion-card>
</ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" >
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  
 <ion-fab-list side="start"> 
  <ion-button (click)="goToCreateCatogeryPage()" shape="round">Category</ion-button>
  <ion-button (click)="gotoCreateProductPage()" shape="round">Product</ion-button>
 </ion-fab-list>
 </ion-fab>



