<ng-container *ngIf="userRole == 'user'">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>user-home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div>
      <ion-searchbar class="search"></ion-searchbar>
    </div>
    <div>
      <ion-card>
        <ion-slides autoplay="1000" loop="true" speed="100">
          <ion-slide *ngFor="let slide of data">
            <img class="image" src="{{slide.image}}" />
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>
    <div>
      <h2 class="offer" color="danger">SPECIAL OFFER</h2>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card><img class="imagesStyle" src="assets/school.jpg"></ion-card>
          </ion-col>
          <ion-col>
            <ion-card><img class="imagesStyle" src="assets/free.jpg"></ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="offer">CATEGORIES</h3>
          </ion-col>
          <ion-col>
            <ion-button vertical="top" horizontal="end" expand="block" (click)="goCategories()">view all</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>



      <ion-item *ngFor="let c of categorylist">
        <ion-buttons (click)="getCategory(c.id)">
          <ion-card class="welcome">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img class="category" src="assets/product.jpg">
                </ion-col>
              </ion-row>
            </ion-grid>



            <ion-item *ngFor="let c of categories">
              <ion-buttons (click)="getCategory(c)">
                <ion-card class="welcome">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <img class="category" src="{{c.image}}">
                      </ion-col>
                      <ion-col>
                        <h4>{{c.name}}</h4>
                      </ion-col>
                    </ion-row>
                    <ion-col></ion-col>
                  </ion-grid>
                </ion-card>
              </ion-buttons>
            </ion-item>
          </ion-card>
        </ion-buttons>

      </ion-item>
    </div>

  </ion-content>

</ng-container>
<ng-container *ngIf="userRole == 'admin'">
  <app-category-list [userRole]="'admin'"></app-category-list>
</ng-container>