<ion-header>
     <ion-toolbar>
        <ion-title>home</ion-title>
      
     </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  <ion-fab-list side="start">
    <ion-button shape="round">Category</ion-button>
    <ion-button shape="round">Product</ion-button>
  </ion-fab-list>
  </ion-fab>




    <div *ngFor="let i of [1,2,3,4,5,6,7,8,9]" >
      <ion-card>
       <!-- <ion-item *ngif="let tran of transactions"></ion-item>-->
      </ion-card>
      <ion-card>
      <ion-card>Toothpaste</ion-card>  
      <img class="imagesStyle" src="../../../assets/img.jpg">
      <ion-label>{{products[0].name}}</ion-label>
      <ion-label>{{products[0].price}}</ion-label>
      <ion-button size="small" fill="none" slots="end"><ion-icon name="trash-sharp" ></ion-icon></ion-button>
      <ion-button size="small" fill="none" slots="end"><ion-icon name="create-sharp"></ion-icon></ion-button>
      </ion-card>
    </div>
    <div>
      <!-- <ion-button class="buttonsize" size="large" ><ion-icon  ></ion-icon></ion-button> -->
     
  </div>
</ion-content>



