<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="container">
      <ion-slide>
        <form [formGroup]="signupForm">
          <div class="bg-blur rounded" lines="none">
            <ion-input
              formControlName="firstName"
              
              placeholder="First Name"
            ></ion-input>
            <!-- [(ngModel)] = "user.firstName" -->
          </div>
          <div class="bg-blur rounded" lines="none">
            <ion-input
              formControlName="lastName"
              
              placeholder="Last Name"
            ></ion-input>
            <!-- [(ngModel)] = "user.firstName" -->
          </div>
          <!-- <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="signupForm.get('firstname').invalid && showSignupError">FirstName Required</ion-text> -->
          <div class="bg-blur rounded" lines="none">
            <ion-input
              formControlName="email"
              
              placeholder="Email id"
            ></ion-input>
            <!-- [(ngModel)]="user.email" -->
          </div>
          <!-- <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="signupForm.get('email').invalid && showSignupError">LastName Required</ion-text> -->
         
          <!-- <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="signupForm.get('phone').invalid && showSignupError">EmailId Required</ion-text> -->
          <div class="bg-blur rounded" lines="none">
            <ion-input
              formControlName="password"
             
              type="text"
              placeholder="password"
            ></ion-input>
            <!-- [(ngModel)]="password" -->
          </div>
          <!-- <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="signupForm.get('username').invalid && showSignupError">Password Required</ion-text> -->
         
          <div>
            <ion-button color="primary" expand="block" (click)="createAccount()"
              ><h5>REGISTER</h5></ion-button>
          </div>
          <ion-row >
            <ion-col text="center">
              <ion-text>
                <span>
                  <p class="forgot">By Clicking Create Account , You Agree with our</p><br>
                  <a href="">Terms and Policies</a>
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
        </form>
        
      </ion-slide>
      
  </div>
  
</ion-content>


