<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="container">
      <ion-slide>
        <form [formGroup]="loginForm">
          <div class="bg-blur rounded" lines="none">
            <ion-input
              formControlName="username"

              type="text" name="username"
              placeholder="username"
            ></ion-input>
          </div>
          <ion-text  class="err-size ion-margin-start" color="danger"  *ngIf="loginForm.get('username').invalid && showLoginError">EmailId Required</ion-text>
          <div class="margin rounded" lines="none">
            <ion-input
              formControlName="password"
              type="password"
              name = "password"
              placeholder="Password"
            ></ion-input>
          </div>
          <ion-text  class="err-size ion-margin-start" color="danger"  *ngIf="loginForm.get('password').invalid && showLoginError">Password Required</ion-text>
          <div class="forgot"><h6>FORGOT PASSWORD?</h6></div>
          <div>
            <ion-button color="primary" expand="block"  (click)="login()"
              ><h5>LOGIN</h5></ion-button>
             
          </div>
          <ion-row >
            <ion-col text-center>
              <ion-text>
                <span>
                  <p class="forgot">Don' have a Account ?<p>
                  <p class="forgot" (click)="registerPage()">Register</p>
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
        </form>
      </ion-slide>
    <!-- </ion-slides> -->
  </div>
</ion-content>

