<ion-header>
  <ion-toolbar>
    <ion-title>createProdouct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
          <ion-input>Name</ion-input>
    </ion-item>
    <ion-item>
          <ion-input>Price</ion-input>
    </ion-item>
    <ion-item>
          <ion-input>quantity</ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
     <ion-item>
         <ion-input>discription</ion-input>
     </ion-item>
  </ion-card>

</ion-content>

<ion-fab  vertical="bottom" horizontal="end">
  <ion-fab-button ><ion-icon name="add-circle" ></ion-icon></ion-fab-button>
</ion-fab> 
