<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons><ion-button (click)="goToHome()"><ion-icon slot="icon-only" name="backspace"></ion-icon></ion-button>
    <ion-title>Product Detailed View</ion-title></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
  <ion-item>Name:  {{product.name}}</ion-item>
  <ion-item>Id:  {{product.id}}</ion-item>
  <ion-item>Price:  {{product.price}}</ion-item>
  <ion-item>Quantity:  {{product.quantity}}</ion-item>
  <ion-item>No of stocks:  {{product.noOfStock}}</ion-item>
  <ion-item>Category:  {{product.categoryId}}</ion-item>
  <ion-item>ExpiringDate:  {{product.expiringDate}}</ion-item>
  <ion-item>ManufacturingDate:  {{product.manufacturingDate}}</ion-item>
  <ion-item>ExpiringDate:  {{product.expiringDate}}</ion-item>
  <ion-item>Description:  {{product.description}}</ion-item>
</ion-card>
</ion-content>
  <ion-footer>
    <ion-col size=2><ion-button (click)="goToUpdateStock()" fill="none"><ion-icon name="layers" color="dark" size="large"></ion-icon></ion-button></ion-col>  
  <ion-col size=2><ion-button (click)="deleteProduct()"  fill="none"><ion-icon color ="danger" slot="icon-only" name ="trash" size="large"></ion-icon></ion-button></ion-col>
  <ion-col size=2><ion-button (click)="gotoUpdate()"  fill="none"><ion-icon color="dark" slot="icon-only" name="create" size="large"></ion-icon></ion-button></ion-col>
 
</ion-footer>
