
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>products</ion-title>
    <ion-fab-button  vertical="top" horizontal="end" slot="end" (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item *ngFor="let i of products">
  <ion-card >
        <ion-grid>
          <ion-row>
            <ion-col class="category"><img class="category" src="{{i.image}}"></ion-col>
            <ion-col><h4>{{i.name}}</h4>
              <ion-row><h6>{{i.price}}</h6></ion-row>
              <ion-row><h6>{{i.weight}}</h6></ion-row>
              <ion-row><ion-button class="addCart" fill="clear" (click) = "addToCart(i)">
                Add to cart
              </ion-button></ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card>
</ion-item>
</ion-content>
